Package: mx16-artwork-extras
Source: mx16-artwork
Version: 1.2mx16
Architecture: all
Maintainer: Steven Pusser (Stevo) <maintainer@mepiscommunity.org>
Installed-Size: 12309
Section: xfce
Priority: extra
Description: Extra artwork for MX16, wallpapers and syslinux backgrounds
Original-Maintainer: Kent Mathern <maintainer@mepiscommunity.org>
