Package: mx15-artwork-extras
Source: mx15-artwork
Version: 1.0mx150+1
Architecture: all
Maintainer: Kent Mathern <maintainer@mepiscommunity.org>
Installed-Size: 2036
Section: unknown
Priority: extra
Description: Extra artwork for MX15, wallpapers and syslinux backgrounds
